@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.subscribe {
  margin-bottom: 10px;
  color: lighten($color-gray, 18%);
  font-size: $typographic-small-font-size;

  input[type="text"] {
    margin-right: 10px;
    color: $color-base;
    appearance: none;
    border-radius: 3px;
    padding: 6px 12px;
    outline: none;
  }

  .btn {
    display: inline-block;
    color: $color-white;
    text-decoration: none;
    margin-bottom: 4px;
    position: relative;
    border-radius: 2rem;
    outline: none;
    font-size: 1.2em;
    background: darken($color-primary, 2);
    &:active {
      top: 2px;
    }
    color: $color-white;
    &:hover {
      background: $color-secondary;
    }
  }
}
