@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.subscribe {
  margin-bottom: 10px;
  color: lighten($color-gray, 18%);
  font-size: $typographic-small-font-size;

  input[type="text"] {
    color: $color-base;
    appearance: none;
    border-radius: 3px;
    font-size: $typographic-small-font-size * 1.2;
    max-width: 300px;
    width: 100%;
    outline: none;
    display: block;
    margin-bottom: 10px;
  }

  .btn {
    color: $color-white;
    text-decoration: none;
    margin-bottom: 10px;
    position: relative;
    border-radius: 2rem;
    outline: none;
    font-size: $typographic-small-font-size * 1.2;
    background: darken($color-primary, 2);
    &:active {
      top: 2px;
    }
    color: $color-white;
    &:hover {
      background: $color-secondary;
    }
  }

  span {
    font-size: $typographic-small-font-size * 0.7;
    margin-left: 5px;
    display: none;
  }

  .error {
    color: $color-error;
    display: inline;
  }

  .success {
    color: $color-secondary;
    display: inline;
  }
}
